.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.navbar__logo {
    color: white;
    font-size: 2rem;
}

.navbar__logo span {
    text-align: center;
    color: yellow;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-shadow: 0 0 0.4rem yellow,
                0 0 1rem yellow,
                0 0 1.8rem yellow,
                0 0 2.4rem yellow;
}


.navbar__links, .navbar__menu--links {
    color: white;
    display: flex;
    justify-content: space-evenly;
}


.navbar__links a, .navbar__menu--links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar--glow:hover, .navbar--glow:active {
    text-shadow: 0 0 0.4rem white,
    0 0 1.5rem white,
    0 0 1.6rem white,
    0 0 1.7rem white;
}

.navbar__menu {
    width: 100%;
    display: none;
}

.navbar__menu--links {
    width: 100%;
}


@media screen and (max-width: 800px) {

    .navbar {
        flex-direction: column;
    }
    
    .navbar__logo {
        font-size: 1.5rem;
    }
    
    .navbar__logo span {
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    .navbar__links a, .navbar__menu, .navbar__menu--links a {
        font-size: 1rem;
    }
    
    .navbar__links {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    
    .navbar {
        flex-direction: column;
    }
    
    .navbar__logo {
        font-size: 1rem;
    }
    
    .navbar__logo span {
        font-size: 0.7rem;
        margin: 0 0.3rem;
    }
    
    .navbar__links a, .navbar__menu, .navbar__menu--links a {
        font-size: 0.8rem;
    }
    
    .navbar__links {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}