@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');

:root{
  --font-family : 'Mukta Malar', sans-serif;

  --color-bg: rgb(11, 2, 34);
  --color-footer: rgb(38, 33, 53);
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
